html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  height: max-content;
  background-color: #1A1A1D
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  text-align: center;
  height: 100%;
  align-items: center;
  background-color: #1A1A1D;
  flex-direction: column;
}

.joinInnerContainer {
  max-width: 90%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.logo {
  width: 50%;
  padding-bottom: 15px;
  margin: 0 auto;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #347dfc;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.playsnakeBTN {
  color: #fff !important;
  text-decoration: none;
  background: #347dfc;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 583px) {
  .button, .playsnakeBTN, .joinInput {
    width: 509.34px;
  }
  .logo {
    width: 255px;
  }
}

.cryptoBtn {
  margin-top: 10px;
}

.button:hover {
  cursor: pointer
}

.playsnakeBTN:hover {
  cursor: pointer;
}

.psT {
  width: max-content;
  text-decoration: none;
  display: inline;
  padding-bottom: 10px;
}

.snakeIcon {
  height: 35px;
  width: 35px;
  margin: 0 10px;
}

.roomList {
  width: 70%;
  max-width: 500px;
  height: 300px;
  background-color: rgb(253, 128, 165);
  margin-top: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.containerHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reloadBtn {
  float: right;
  margin: 10px;
  padding: 0;
  height: max-content;
  width: max-content;
  background: none;
  border: none;
  color:purple;
}

.reloadBtn:hover {
  cursor: pointer
}

.roomsHeader {
  color: rgb(179, 24, 89);
}

.roomsUl {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: rgb(253, 128, 165);
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
}

.roomsUl li {
  padding: 2px;
  text-decoration: underline;
  font-size: 20px;
}

.roomsUl li:hover {
  cursor: pointer;
  color: rgb(182, 2, 182);
  display: inline-block
}


.mt-20 {
  margin-top: 20px;
}

@media (min-width: 150px) and (max-width: 1130px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    max-width: 90%;
  }
}

button:focus {
  outline: 0;
}