.outerContainer {
  width: 80%;
  max-width: 800px;
}

.all {
  display: flex;
  flex-wrap: nowrap;
  height: 500px;
  width: 100%
}

.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
  height: 100%;
  width: 75%;
}

.usersContainer {
  width: 25%;
  height: 100%;
}


@media (max-width: 700px) {
  .chatContainer {
    width: 100%;
    height: 100%;
  }
  @media (max-height: 666px) {
    .outerContainer {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .appBg {
      height: 100vh;
    }
  }
}

@media (max-height: 666px) {
  .outerContainer {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .appBg {
    height: 100vh;
  }
}


@media (max-width: 400px) {
  .all {
    height: 400px
  }
}